@model ITTools.Core.Models.Tool

@{
    bool hasPlugin = ViewBag.HasPlugin;
}

<div class="tool-details-card csv-row-counter-card">
    <div class="csv-header">
        <h2 class="csv-title">@Model.Name</h2>
    </div>
    <dl class="row csv-details">
        <dt class="col-sm-4">Name</dt>
        <dd class="col-sm-8">@Model.Name</dd>

        <dt class="col-sm-4">Description</dt>
        <dd class="col-sm-8">@Model.Description</dd>

        <dt class="col-sm-4">Category</dt>
        <dd class="col-sm-8">@Model.Category?.Name</dd>

        <dt class="col-sm-4">Status</dt>
        <dd class="col-sm-8">
            @if (Model.IsEnabled)
            {
                <span class="badge badge-enabled">Enabled</span>
            }
            else
            {
                <span class="badge badge-disabled">Disabled</span>
            }
        </dd>

        <dt class="col-sm-4">Type</dt>
        <dd class="col-sm-8">
            @if (hasPlugin)
            {
                <span class="badge badge-executable">Executable</span>
            }
            else
            {
                <span class="badge badge-info">Information Only</span>
            }
        </dd>
    </dl>

    @if (hasPlugin)
    {
        <div class="mt-4">
            <h4>Try It Out</h4>
            <div class="input-group mb-3">
                <button class="btn btn-primary csv-execute-btn" type="button" id="executeButton">Format current date</button>
            </div>
            <div class="result-section mt-2">
                <h5>Result</h5>
                <pre id="resultOutput" class="csv-result"></pre>
            </div>
        </div>
    }
</div>