<li class="nav-item ms-md-auto">
@if (User.Identity?.IsAuthenticated ?? false)
{
    @* <a class="text-center nav-link" asp-controller="Account" asp-action="Detail"><i class="fa-solid fa-user"></i></a> *@
    <!-- Trigger -->
    <a class="nav-link text-center" data-bs-toggle="dropdown">
        <i class="fa-solid fa-user"></i>
    </a>

    <!-- Dropdown -->
    <ul class="dropdown-menu dropdown-menu-end text-center">
        <li><a class="dropdown-item" asp-controller="Account" asp-action="Detail">Profile</a></li>
        <li>
            <form asp-controller="Account" asp-action="Logout" method="post" class="dropdown-item m-0 p-0">
                <button type="submit" class="btn w-100">Logout</button>
            </form>
        </li>
    </ul>
}
else
{
    <a class="nav-link text-dark text-center" asp-controller="Account" asp-action="Login">Login</a>
}
</li>