@model IEnumerable<ITTools.Core.Models.Tool>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Welcome</h1>

@if (User.Identity?.IsAuthenticated == true)
{
    <p>Hello, @User.Identity.Name!</p>
}
else
{
    <p><a href="/Account/Login">Login</a> now to save your favorite tools!</p>
}


@*<div class="container">
    <div class="row">
        @foreach (var tool in Model)
        {
            <div class="col-md-4 mb-4"> <!-- Adjust column size as needed -->
                <partial name="_ToolCardPartial" model="tool" />
            </div>
        }
    </div>
</div>*@